.icon-container{
  font-size: 0;
  text-align: center;
}

.icon,.iconFirst{
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: black;
}

.iconFirst{
  background-color: red;
}

h2 ~ p{
  color: red;
}

.testClass{
  display: inline-block;
  height: 100px;
  width: 40px;
}

.iconFirst ~ .icon{
  margin-left: 15px;
}